<div class="flex flex-col gap-10">
  <h2 class="text-base font-semibold text-gray-900 sm:text-teal-800 lg:text-purple-500">
    Additional information
  </h2>
  <div>
    <h1 class="font-bold text-4xl text-copper-200">Landing#index</h1>
    <h2 class="font-bold text-xl text-copper-dark">Subtitle</h2>  
    <p>Find me in app/views/landing/index.html.erb</p>
  </div>
</div>
